*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #222;
}

.box {
  width: 200px;
  height: 200px;
  background: orangered;
  /* transform: translate(50px, 200px); */
  /* transform: scale(3); */
  /* transform: rotateY(100deg); */
  /* transform: skewX(45deg); */
  /* transform: translateX(200px) rotate(45deg); */
  transform: rotate(45deg);
  transform-origin: 100%;
}
